# -*- coding: utf-8 mode: yaml -*- vim:sw=2:sts=2:et:ai:si:sta:fenc=utf-8

services:
  web:
    build:
      context: .
      dockerfile: src/Dockerfile
    image: moodle-dev
    environment:
      MOODLE_ROOT: /var/www/moodle
    volumes:
      - ./install/moosh:/opt/moosh
      - ./install/moodle:/var/www/moodle
      - ./src:/src
      - ./config:/config
      - data:/var/www/moodledata
    ports:
      - $LISTEN:8080
    depends_on:
      - db

  cron:
    image: busybox:stable
    volumes:
      - ./src:/src
    command: ["/src/cron/cron.sh"]

  db:
    image: mariadb:lts
    environment:
      MARIADB_ROOT_PASSWORD: admin
      MARIADB_USER: moodle
      MARIADB_PASSWORD: moodle
      MARIADB_DATABASE: moodle
    volumes:
      - ./src/mariadb:/etc/mysql/conf.d
      - db:/var/lib/mysql

volumes:
  data:
  db:
